<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
<div class="form-group">
  <%= form.label :body,  t('forms.comment.comment') %>
  <div class="w-100"></div>
  <%= form.text_area :body, class: "form-control" %>
</div>
<%= form.submit t('forms.comment.add_comment'), class: "btn btn-info" %>
<% end %>
