<h3><%= t('forms.comment.comments_2') %></h3>
<% @comments.each do |comment| %>
<div class="d-flex">
  <div class="avatar-small">
    <%= link_to image_tag "user-circle-solid.svg" %>
  </div>
  <div class="side-title">
    <div>
      <%= link_to comment.body.truncate_words(10), article_path(comment.article, anchor: "comment-#{comment.id}") %>
    </div>
    <div>
      <%= comment.article.title.truncate_words(5) %>
    </div>
  </div>
</div>
<% end %>
