// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index .card {
  margin-bottom: .75rem;
}

.index .card-block {
  padding-right: .5rem;
 }

.link_link {
  font-size: 1.4rem;
  word-break: break-word;
  a {
    font-weight: 600;
  }
}

.link_author {
  font-size: .8em;
}

h3 {
  font-size: 1.3em;
  color: black;
  word-break: break-word
}

.picks {
  padding-left: 0rem;
}

.avatar-small {
  @include float-left;
  padding-top:10px;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 3px 5px 0 0
  }
}

.side-title {
  word-break: break-word;
  padding-top: .5rem;
  a {
    font-weight: 600;
  }
}
