<section>
  <div class="row index">
    <div class="col-12 col-xl-8">
      <!-- articles  -->
      <%= render 'articles/list' %>
    </div>
    <div class="col-xl-4 d-none d-xl-block picks">
      <!-- comments -->
      <%= render 'comments/list' %>
    </div>
  </div>
</section>
