<section>
  <div class="row index">
    <div class="col-12 col-xl-8">
      <!-- articles  -->
      <%= render 'articles/list' %>
    </div>
    <div class="col-xl-4 d-none d-xl-block bg-warning">
      <!-- comments -->
      <h3>Yorumlar</h3>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
    </div>
  </div>
</section>
